
<div style="explanation">
    <h3>Theme CSS-class option descriptions</h3>
    <p>Fill the CSS-class of a question to use enable these options.</p>
    <h4>Slider Question CSS-class options</h4>
    <p>Sliders can be set enabled for the Multiple Numeric Question type. When enabled, use these css classes to refine the display:</p>
    <ul>
        <li><strong>hide-slidernumber</strong> Add to hide the slide value.</li>
        <li><strong>hide-untouched</strong> Add to hide the inital slide pointer.</li>
    </ul>
    <h4>Yes No Question CSS-class options</h4>
    <ul>
        <li><strong>yesno-show-buttons</strong> Add to a single Yes No question if to show a selectable circle for a single question.</li>
    </ul>
</div>

